
<html>
<head>
  <meta charset='utf-8'>
  <title>Event Reporter</title>
</head>

<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
  <table>
  <tr>
    <th>LAST NAME</th>
    <th>FIRST NAME</th>
    <th>EMAIL</th>
    <th>ZIPCODE</th>
    <th>CITY</th>
    <th>STATE</th>
    <th>ADDRESS</th>
    <th>PHONE</th>
    <th>DISTRICT</th>
  </tr>
    <% queue.each do |data| %>
      <tr>
        <td><%= "#{data.last_name}" %></td>
        <td><%= "#{data.first_name}" %></td>
        <td><%= "#{data.email_address}" %></td>
        <td><%= "#{data.zipcode}" %></td>
        <td><%= "#{data.city}" %></td>
        <td><%= "#{data.state}" %></td>
        <td><%= "#{data.street}" %></td>
        <td><%= "#{data.homephone}" %></td>
        <td><%= "#{data.district}" %></td>
      </tr>
    <% end %>
  </table>
</body>
</html>
